.auth_form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    width: 300px;
    height: 220px;
    background-color: #001f3f;
    box-shadow: 10px 5px 5px black;
}

.custom_input {
    width: 100%;
    height: 30%;
    margin-bottom: 5%;
    
}

.input_header {
    width: 100%;
    height: 50%;
    margin-left: 5%;
    padding: 0;
    font-size: 20px;
    color: white;
}

.input_textfield {
    width: 100%;
    height: 50%;
    margin-left: 5%;
    margin-top: 0;
}

.secure {

}

input[type=text], [type=password] {
    width: 90%;
    height: 80%;
    border-width: 2px;
    box-shadow: inset;
    font-size: 20px;
    border-color: rgb(66, 134, 244);
}

.sign_button {
    width: 50%;
    background-color: green;
    position: absolute;
    height: 15%;
}